$font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font2: arial, helvetica, sans-serif;
$weight:900;
$border:5px;


body{
    margin: 0;
    padding: 0;
    color: #fff;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 140px;
        margin-top: 20px;
        margin-left: 30px;
        user-select: none;
    }
    .sign-in{
        background-color: #e50914;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 8px 18px;
        font-size: 15px;
        float: right;
        font-family: $font2;
        margin-right: 45px;
    }
}
.center{
    text-align: center;
    
    h1{
        font-size: 43px;
        font-weight: 200px;
        font-family: $font2;
        margin-top: 130px;
    }
    .h2{
        font-size: 26px;
        text-align: center;
        float: center;
        margin-left: 30px;
        font-family: $font2;
        margin-top: -15px;
        word-spacing: 1px;
        font-weight: 200;
    }
    .h3{
        font-size: 20px;
        font-family: $font2;
        font-weight: 400;
        margin-top: 35px;
    }
    .text{
       height: 52px;
       border-radius: 1px;
       border: 1px solid #8c8c8c;
       width: 500px;
       min-width: 200px;
       margin-left: 20px; 
       color: #8c8c8c;
       padding-left: 20px;
       font-size: 15px;
       font-family: $font2;
       font-weight: 100px; 
    }
    .text-btn{
        padding-bottom: 170px;
    }
//     .label{
//         font-size: 17px;
//         color: #8c8c8c;
//         font-family: $font2;
//         font-weight: 500;
//         position: relative;
//         left: 120px;
//     }
.btn2{
    background-color: #e50914;
    position: relative;
    top: 4px;
    left: -20px;
    color: #fff;
    border: none;
    border-radius: $border;
    padding: 14px 25px;
    font-size: 17px;
    word-spacing: 5px;
    font-weight: normal;
    font-size: 25px;
    font-family: $font2;
    cursor: pointer;
}   
.btn2:hover{
    background-color: #e50914 + 13;
    transition: .500s;
}
}
.second-body{
    background-color: #000;
    border-top: 8px solid #2f2e2e;
    margin-top: -20px;
    color: #ffff;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
    .second-body-text h1{
        font-family: $font2;
        font-size: 50px;
        font-weight: 700;
        margin-left: 100px;
    }
    .second-body-text h2{
        @extend h1;
        font-size: 25px;
        width: 70%;
        font-weight: 200;
        margin-top: -10px;
    }
    .second-body-image{
        width: 36vw;
        height: 53vh;
        margin-right: 100px;
    }
}
.third-body{
    background-color: #000;
    border-top: 8px solid #2f2e2e;
    margin-top: 20px;
    color: #ffff;
    display: flex;
    align-items: center;
    padding-top: 50px;
    margin-top: -20px;
    padding-bottom: 70px;
    .third-body-image{
        width: 36vw;
        height: 53vh;
        margin-left: 30px;
    }
    .third-body-text h1{
        font-family: $font2;
        font-size: 2.3rem + .6rem;
        font-weight: 700;
        margin-left: 120px;
        width: 70%;
    }
    .third-body-text h2{
        @extend h1;
        font-size: 25px;
        width: 70%;
        font-weight: 200;
        margin-top: -10px;
    }
}
.fourth-body{
    background-color: #000;
    border-top: 8px solid #2f2e2e;
    margin-top: 20px;
    color: #ffff;
    align-items: center;
    margin-top: -20px;
    padding-top: 15px;
    padding-bottom: 50px;
}
.fourth-body h1{
    font-family: $font2;
    font-size: 2rem + .6rem;
    font-weight: 700;
    margin-left: 120px;
    width: 70%;
  }  
  .fourth-body h2{
    @extend h1;
    font-size: 25px;
    width: 70%;
    font-weight: 200;
    width: 40%;
    margin-top: -10px;
  }
.fifth-body{
    background-color: #000;
    border-top: 8px solid #2f2e2e;
    margin-top: 20px;
    color: #ffff;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
    margin-top: -20px;
    .fifth-body-image{
        width: 37vw;
        height: 60vh;
        margin-left: 100px;
    }
    .fifth-body-text h1{
        font-family: $font2;
        font-size: 2rem + .6rem;
        font-weight: 700;
        margin-left: 30px;    
    }
    .fifth-body-text h2{
        @extend h1;
        font-size: 25px;
        width: 75%;
        font-weight: 200;
        margin-top: -10px;
        line-height: 37px;
    }
}
.sixth-body{
    background-color: #000;
    border-top: 8px solid #2f2e2e;
    margin-top: 20px;
    color: #ffff;
    padding-top: 50px;
    padding-bottom: 70px;
    margin-top: -20px;
}
.sixth-body h1{
    text-align: center;
    font-family: $font2;
    font-size: 2rem + .6rem;
    font-weight: 700;  
}
.button,.button2, .button3, .button4, .button5, .button6{
    display: flex;
    background-color: #303030;
    justify-content: space-between;
    width: 850px;
    text-align: center;
    margin: 6% auto 0;
    height: 80px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 1px;
    cursor: pointer;
    transition: .90000s;
    user-select: none;
    margin-top: -2px;
    margin-top: 10px;
}
.button p, .button2 p, .button3 p, .button4 p, .button5 p, .button6 p{
    font-size: 25px;
    font-family: $font;
    margin-right: 30px;
    margin-left: 20px; 
    font-weight: 100; 
    transition: .90000s; 
    margin-top: 20px;
}
.answer, .answer2, .answer3, .answer4, .answer5, .answer6{
    display: none;
    background-color: #303030;
    width: 850px;
    text-align: center center;
    height: 100%;
    padding: 20px 17px;
    font-size:  18px;
    font-family: $font;
    margin-left: 14% + .1%;
    transition: .90000s;

}
.answer h2, .answer2 h2, .answer3 h2, .answer4 h2, .answer5 h2, .answer6 h2{
    width: 100%;
    text-align: center;
    font-weight: normal;
    padding-right: 20px;
    transition: .90000s; 
    margin-left: 2px;
    margin-right: -200px;
}
.h3{
    font-size: 20px;
    font-family: $font2;
    font-weight: 400;
    margin-top: 70px;
    text-align: center;
}
.text{
   height: 52px;
   border-radius: 2px;
   border: 1px solid #8c8c8c;
   width: 500px;
   min-width: 200px;
   margin-left: 20px; 
   margin-left: 7% + .3%; 
}
//     .label{
//         font-size: 17px;
//         color: #8c8c8c;
//         font-family: $font2;
//         font-weight: 500;
//         position: relative;
//         left: 120px;
//     }
.btn2{
background-color: #e50914;
position: relative;
top: 4px;
left: -20px;
color: #fff;
border: none;
border-radius: $border;
padding: 14px 25px;
font-size: 17px;
word-spacing: 5px;
font-weight: 600;
font-size: 25px;
font-family: $font2;
cursor: pointer;
}   
.btn2:hover{
background-color: #e50914 + 13;
transition: .500s;
}
.mar{
    margin-top: 20px;
}
.h4{
    font-size: 17px;
    @extend .h3;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.all{
    background-color: #000;
    border-top: 5px solid #2f2e2e;
}
.a1 a,.a2 a,.a3 a,.a4 a, .footer, .top{
    display:block;
    color: #8c8c8c;
    text-decoration: none;
    transition: .500s;
    line-height: 30px;
    font-family: $font2;
    font-size: 13px;
}
.a1 a:hover,.a2 a:hover,.a3 a:hover,.a4 a:hover, .footer:hover, .top:hover{
    text-decoration: underline;
    transition: .500s;
}
.top, .footer{
    font-size: 16px;
    margin-left: 180px;
    padding-top: 55px;
    margin-bottom: 20px;
}
.footer{
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 20px;
}
.text2{
    height: 52px;
    border-radius: 1px;
    border: 1px solid #8c8c8c;
    width:400px;
    min-width: 200px;
    margin-left: 25%;
    color: #8c8c8c;
    padding-left: 20px;
    font-size: 15px;
    font-family: $font2;
    font-weight: normal; 
}
.btn3{
    background-color: #e50914;
    position: relative;
    top: 4px;
    left: -20px;
    color: #fff;
    border: none;
    border-radius: $border;
    padding: 14px 25px;
    font-size: 17px;
    word-spacing: 5px;
    font-weight: normal;
    font-size: 25px;
    font-family: $font2;
    cursor: pointer;
}
.image{
    width: 37vw;
    height: 58vh;
    margin-left: 30px;
}
